body{
    margin: 0;
    padding: 0;
    height: 890px;
    background-color: darkgray;
}
::selection{
    background: transparent;
}
li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}
.toppanel{
    width: 100%;
    height: 700px;
    background: url("ship.svg") no-repeat 0 0;
    background-size: 1280px;
}
.space{
    background: radial-gradient(royalblue, midnightblue);
}
.toppanel li{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50px;
    top: 50px;
    cursor: pointer;
    background: no-repeat;
    box-shadow: 0 0 25px 5px #aaaaaa;
    display: none;
}
.toppanel li:nth-child(1){
    left: 120px;
    background: url("ship_planets.svg") -314px 0;
}
.toppanel li:nth-child(2){
    left: 340px;
    background: url("ship_planets.svg") -419px 0;
}
.toppanel li:nth-child(3){
    left: 560px;
    background: url("ship_planets.svg") -524px 0;
}
.toppanel li:nth-child(4){
    left: 780px;
    background: url("ship_planets.svg") -209px 0;
}
.toppanel li:nth-child(5){
    left: 1000px;
    background: url("ship_planets.svg") -105px 0;
}
.toppanel li:nth-child(6){
    top: 600px;
    left: 560px;
    border-radius: 0;
    background: url("ship_planets.svg") no-repeat 0 0;
    box-shadow: none;
}
.aliens{
    background: url("aliens_wood.svg") no-repeat 0 0 olive;
}
.weird{
    background: url("weird_rocks.svg") no-repeat 0 0 royalblue;
}
.butt{
    background: url("butt_hills.svg") no-repeat 0 0 pink;
}
.fairy{
    background: url("fairy_wood.svg") no-repeat 0 0 lightgreen;
}
.man{
    background: url("cookie_wood.svg") no-repeat 0 0 sandybrown;
}
.hero{
    width: 240px;
    height: 430px;
    left: 100px;
    top: 270px;
    background: url("cat.svg") no-repeat 0 0;
    display: none;
    position: absolute;
}
.enemy{
    width: 500px;
    height: 530px;
    left: 700px;
    top: 170px;
    position: absolute;
}
.alienschar{
    background: url("enemy_disgust.svg") no-repeat 0 60px;
}
.weirdchar{
    background: url("enemy_weird.svg") no-repeat 170px 110px;
}
.buttchar{
    background: url("enemy_butt.svg") no-repeat 120px 100px;
}
.fairychar{
    background: url("enemy_fairy.svg") no-repeat 100px 20px;
}
.manchar{
    background: url("enemy_cookie.svg") no-repeat 0 0;
}
/*--------------------------------------------------------------------------------------------*/
.bottompanel{
    width: 100%;
    height: 198px;
    border-top: 10px solid rgb(72,72,72) ;
}

.bottompanel > div{
    position: absolute;
    height: 198px;
    display: none;
}
.bottompanel > div:nth-child(1){
    width: 325px;
    left: 0;
    background: url("cat_portrait.svg") no-repeat 75px 0;
}
.bottompanel > div:nth-child(2){
    width: 620px;
    left: 330px;
}
.herosays{
    background: url("cloud_button.svg") no-repeat 0 10px;
}
.enemysays{
    background: url("cloud_button.svg") no-repeat -700px 10px;
}
.bottompanel  span{
    width: 450px;
    height: 150px;
    position: absolute;
    top: 25px;
    left: 65px;
    font-size: 22px;
    font-family: sans-serif;
    text-align: center;
}
.bottompanel > div:nth-child(3){
    width: 325px;
    left: 955px;
}
.bottompanel  li{
    width: 222px;
    height: 50px;
    padding-top: 30px;
    position: absolute;
    background: url("cloud_button.svg") no-repeat -1455px -102px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    display: none;
}
.bottompanel li:nth-child(1){
    top: 60px;
}
.bottompanel li:nth-child(2){
    top: 10px;
}
.bottompanel li:nth-child(3){
    top: 100px;
}
.bottompanel > div:nth-child(3).aliens{
    background: url("cat_portrait.svg") no-repeat -205px 0;
}
div.showed, span.showed, li.showed{
    display: block;
}
div.hidden, span.hidden, li.hidden{
    display: none;
}
.bottompanel li:hover{
    background: url("cloud_button.svg") no-repeat -1729px -102px;
}


