body{
    margin: 0;
    padding: 0;
    height: 900px;
    background-color: darkgray;
}
::selection{
    background: transparent;
}
#mainpanel{
    width: 100%;
    height: 700px;
    background: radial-gradient(royalblue, midnightblue, #000000);
}
#mainpanel > div:first-child{
    padding-top: 150px;
}
.planets{
    display: none;
}
ul{
    margin: 0;
}
li{
    cursor: pointer;
    list-style: none;
}
#mainpanel li{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-left: 110px;
    background-size: 624px;
    border-radius: 50px;
    box-shadow: 0 0 55px 5px #aaaaaa;
}
#mainpanel li:nth-child(5){
    background: url("ship_planets.svg") no-repeat -105px 0;
}
#mainpanel li:nth-child(4){
    background: url("ship_planets.svg") no-repeat -210px 0;
}
#mainpanel li:nth-child(1){
    background: url("ship_planets.svg") no-repeat -314px 0;
}
#mainpanel li:nth-child(2){
    background: url("ship_planets.svg") no-repeat -419px 0;
}
#mainpanel li:nth-child(3){
    background: url("ship_planets.svg") no-repeat -523px 0;
}
li#spaceship{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 600px;
    top: 600px;
    margin: 0;
    padding: 0;
    background: url("ship_planets.svg") no-repeat 0 0;
    box-shadow: 0 0;
}
/*==================================Planets========================================*/
#aliens{
    width: 100%;
    height: 100%;
    background: url("aliens_wood.svg") no-repeat 0 0, linear-gradient(olive, yellowgreen, yellow);
    background-size: 1300px 850px;

}
#weird{
    width: 100%;
    height: 100%;
    background: url("weird_rocks.svg") no-repeat 0 0, linear-gradient(midnightblue, royalblue, lightskyblue);
    background-size: 1300px 850px;
}
#butt{
    width: 100%;
    height: 100%;
    background: url("butt_hills.svg") no-repeat 0 10px, linear-gradient(darkred, hotpink, yellow);
    background-size: 1300px 850px;
}
#fairy{
    width: 100%;
    height: 100%;
    background: url("fairy_wood.svg") no-repeat 0 0, linear-gradient(darkslategray, darkseagreen, yellow);
    background-size: 1300px 810px;

}
#man{
    width: 100%;
    height: 100%;
    background: url("cookie_wood.svg") no-repeat 0 0, linear-gradient(sienna, lemonchiffon, papayawhip);
    background-size: 1300px 850px;
}
/*++++++++++++++++++++++++++++++++++++Enemies&Hero++++++++++++++++++++++++++++++++++++++++++*/
.hero{
    width: 250px;
    height: 412px;
    position: absolute;
    left: 100px;
    top: 280px;
    background: url("cat.svg") no-repeat 0 0;
    background-size: 750px;
}

#bullet{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: yellow;
    position: absolute;
    top: 370px;
    left: 370px;
    display: none;
}
.enemy{
    width: 500px;
    height: 390px;
    float: right;
    margin-right: 100px;
    padding-top: 310px;
}
#aliens > div.enemy{
     background: url("enemy_disgust.svg") no-repeat 10px 250px;
     background-size: 380px 520px;
 }
#butt > div.enemy{
    background: url("enemy_butt.svg") no-repeat 50px 260px;
    background-size: 350px 500px;
}
#man > div.enemy{
    background: url("enemy_cookie.svg") no-repeat 0 120px;
    background-size: 460px 700px;
}
#fairy > div.enemy{
    background: url("enemy_fairy.svg") no-repeat 0 120px;
    background-size: 400px 600px;
}
/*------------------------------Bottom panel-----------------------------------------------*/
#bottompanel{
    width: 100%;
    height: 199px;
    border-top: 5px solid rgb(56,56,56);
}
#speech{
    height: 100%;
}
#speech > div{
    display: inline-block;
    height: 100%;
}
#speech > div:first-child{
    width: 300px;
    background: url("cat_portrait.svg") no-repeat 30px -35px;
    background-size: 490px 230px;
}
#speech > div:nth-child(2){
    width: 630px;
    background: url("speech.svg") no-repeat 10px 10px;
    background-size: 600px;
}
#speech > div:nth-child(2) > span{
    width: 500px;
    font-size: 20px;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}
#speech > div:last-child{
    width: 300px;
}
#speech > div:last-child > ul > li{
    width: 235px;
    height: 45px;
    padding-top: 35px;
    float: right;
    text-align: center;
    font-size: 22px;
    background-color: red;
    background: url("button.svg") no-repeat 10px 10px;
    background-size: 200px;
}
#speech > div:last-child > ul > li:last-child{
    margin-top: 20px;
}
/*-------------------------------------------Adding class-----------------------------------------*/
.showed{
    display: block;
}
.hidden{
    display: none;
}
